.logo {
    font-family: $font-logo;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: $color-accent;
    text-decoration: none;
}

.logo--black {
    color: $color-primary;
}

.logo--white {
    color: #ffffff;
}