$color-main-black: #212121;
$color-main-blue: #2196f3;
$color-text-grey: #757575;
$color-bcg-accent: #2f303a;
$color-bcg-grey: #f5f4fa;
$duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);